/*
orange    #df691a
green     #5cb85c
lightg    #4e5d6c
*/

::-webkit-scrollbar {
  width: 6px;
}
 
::-webkit-scrollbar-thumb {
  background: #df691a;
}

a {
  color: #1f4ba0;
  text-decoration: underline;
}

html {
  height: 100vh;
}

body {
  min-height: 100vh;
}

#main {
  padding-top: 40px;
}

.home {
  margin-top: 20px;
}

.display {
  background-color: #4e5d6c;
  padding: 15px;
  margin-bottom: 20px;
}

.rightAlign p,
.rightAlign h1,
.rightAlign h4 {
  text-align: right;
}

.centerAlign p,
.centerAlign h1,
.centerAlign h4 {
  text-align: center;
}

.omega {
  text-shadow: -1px 0 #df691a, 0 1px #df691a, 1px 0 #df691a, 0 -1px #df691a;
}

.ultimate {
  text-shadow: -1px 0 #5cb85c, 0 1px #5cb85c, 1px 0 #5cb85c, 0 -1px #5cb85c;
}

img.champ-small {
  height: 40px;
  margin: 2px;
}

img.champ-small.disabled {
  filter: grayscale(100%) opacity(50%);
}

#champ-large {
  height: 130px;
}

#summoner {
  display: block;
  height: 60px;
  margin-right: 5px;
  border: #2b3e50 2px solid;
}
#summoners-container {
  display: flex;
}

#keystone {
  display: block;
  height: 60px;
  border: #2b3e50 2px solid;
}

#spell {
  height: 60px;
  border: gold 2px solid;
}
#key-bubble {
  background: #2b3e50;
  height: 30px;
  width: 30px;
  border: gold 2px solid;
  display: flex;
  position: relative;
  top: -25px;
  left: 35px;
}
#key-bubble h5 {
  margin: auto;
  font-weight: 700;
  color: gold;
}
#spell-container {
  position: relative;
  top: 0px;
  left: 0px;
  height: 60px;
  width: 60px;
}

/*#key-bubble {
  background: black;
  height: 30px;
  width: 30px;
  border: gold 2px solid;
  border-radius: 15px;
  display: flex;
  position: relative;
  top: -15px;
  left: 45px;
}*/

#item {
  height: 60px;
}
#item-border {
  border: 3px solid #2b3e50;
  position: relative;
  height: 60px;
  width: 60px;
  top: -60px;
}
#item-container {
  height: 60px;
  margin: 0px 5px 5px 0px;
}
#item-grid {
  display: block;
}
#item-row {
  display: flex;
}
#items-container {
  margin: auto;
  margin-top: 10px;
}
#items-container h5 {
  display: inline-block;
  margin-right: 5px;
}

@media only screen and (min-width: 450px) {
  #item-grid {
    display: flex;
  }
  #item-container {
    margin: 0px 5px 0px 0px;
  }
}

@media only screen and (min-width: 600px) {
  #item-grid {
    display: block;
  }
  #item-container {
    margin: 0px 5px 5px 0px;
  }
  #items-container {
    margin-top: 0px;
  }
}

@media only screen and (min-width: 1200px) {
  #item-grid {
    display: flex;
  }
  #item-container {
    margin: 0px 5px 0px 0px;
  }
}

#url-container {
  display: flex;
  margin: 0px 10px;
}
#url-container h5 {
  margin: auto 15px auto 10px;
}
#url-container .form-group {
  margin-bottom: 0px;
}

#title {
  width: 100%;
  position: relative;
  top: -87px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 0px 5px 10px;
}
#title h1 {
  margin: 0px 0px 0px 0px;
  font-size: 40px;
  font-family: 'Fugaz One', cursive;
}
#title h3 {
  margin: 0px 0px 0px 0px;
  font-style: italic;
}

#build-body {
  background-color: #4e5d6c;
  position: relative;
  padding: 10px 10px 20px 10px;
  display: flex;
  flex-wrap: wrap;
  top: -87px;
  margin-bottom: -67px;
}
#fade-divider { 
    margin: 20px 10px;
    height: 2px;
    width: 100%;
    background-color: #2b3e50;
    /*background: -webkit-gradient(linear, 0 0, 100% 0, from(#485563), to(#485563), color-stop(50%, #2b3e50));*/

}