/*
orange    #df691a
green     #5cb85c
lightg    #4e5d6c
*/

::-webkit-scrollbar {
  width: 6px;
}
 
::-webkit-scrollbar-thumb {
  background: #df691a;
}

a {
  color: #1f4ba0;
  text-decoration: underline;
}

html {
  height: 100vh;
}

body {
  min-height: 100vh;
}

#main {
  margin-top: 40px;
  padding: 15px;
}

.home {
  margin-top: 20px;
}

.display {
  background-color: #4e5d6c;
  padding: 15px;
  margin-bottom: 20px;
}

.rightAlign p,
.rightAlign h1,
.rightAlign h4 {
  text-align: right;
}

.centerAlign p,
.centerAlign h1,
.centerAlign h4 {
  text-align: center;
}

.omega {
  text-shadow: -1px 0 #df691a, 0 1px #df691a, 1px 0 #df691a, 0 -1px #df691a;
}

.ultimate {
  text-shadow: -1px 0 #5cb85c, 0 1px #5cb85c, 1px 0 #5cb85c, 0 -1px #5cb85c;
}

img.champ-small {
  height: 40px;
  margin: 2px;
}

img.champ-small.disabled {
  filter: grayscale(100%) opacity(50%);
}

img.champ-large {
  height: 120px;
  margin: 3px;
}
